.container {
  background: radial-gradient(
    circle 600px at center,
    /* rgba(233, 233, 233, 1) 0%,
    rgb(165, 165, 165) 50%,
    rgb(85, 85, 85) 100% */
      rgb(39, 39, 39) 0%,
    rgb(51, 51, 51) 50%,
    rgb(14, 13, 13) 100%
  );
  min-height: 100vh;
  font-family: 'Cardo', serif;
  font-family: 'Playfair Display', serif;
}
